// Import base variables
@import "../base/reset";
@import "../base/colors";
@import "../base/typography";

.artikel-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: $color-primary;
  font-family: $font-secondary;

  strong {
    color: $color-secondary;
  }
}

.artikel-date{
  font-size: 18px;
  font-weight: 400;
  color: $color-secondary;
  margin-bottom: 20px;
}

.artikel-content img{
  width: 100%;
  border-radius: 10px;
}

.artikel-content p{
  font-size: 18px;
  font-weight: 400;
  color: $color-secondary;
  margin-bottom: 20px;
}

#rekomendasi {
  .rekomendasi-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: $color-primary;
    font-family: $font-secondary;
  
    strong {
      color: $color-secondary;
    }
  }

  .card {
    border-radius: 10px;
    border: solid 1px $color-secondary;
    margin-bottom: 20px;
    background-color: $color-white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .card-body{
      padding: 0px;

      .artikel-title{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
        padding: 0 20px 0px 20px;
        color: $color-primary;
        font-family: $font-secondary;
      
        strong {
          color: $color-secondary;
        }
      }

      .artikel-date{
        font-size: 18px;
        font-weight: 400;
        padding: 20px;
        color: $color-secondary;
        margin-bottom: 20px;
      }
    }

    .card-footer {
      padding: 0 20px 20px 20px;
      border: none;
      background-color: $color-white;

      .btn {
        @include button-style($color-primary);
    
        &:hover {
          background-color: $color-white;
          border: solid 2px $color-primary;
          color: $color-primary;
        }
      }
    }
  }
}